
@if (streamer) {
    <div class="streamer-card">
        <div class="image-name">
            <!--suppress AngularNgOptimizedImage -->
            <img src="http://localhost:8888/images/by-id?imageId={{streamer.imageId}}"
                 class="streamer-card__image"  alt="public/assets/images/images.jpg">
        </div>

        <div class="streamer-card__name">
            <strong class="h6">{{streamer.firstname}} {{streamer.lastname}} {{streamer.patronymic}}</strong>
            <span class="h7">{{streamer.identity.nickname}}</span>
        </div>

        <div class="streamer-card__description">
            {{streamer.about}}
        </div>

        @for (category of streamer.categories; track category.id) {
            <div class="streamer-card__categories">
                <div class="streamer-category">{{category.name}}</div>
            </div>
        }
        <div class="streamer-card__action-button">
            <div class="btn">Subscribe</div>
        </div>
    </div>
} @else {
    No data
}

