
@if (streamer) {
    <div class="streamer-card">
        <div class="image-name">
            <img ngSrc="/assets/images/images.jpg" alt="image" class="streamer-card__image" height="275" width="183">
        </div>

        <div class="streamer-card__name">
            <strong class="h6">{{streamer.firstname}} {{streamer.lastname}} {{streamer.patronymic}}</strong>
            <span class="h7">{{streamer.identity.nickname}}</span>
        </div>

        <div class="streamer-card__description">
            {{streamer.about}}
        </div>

        @for (category of streamer.categories; track category.id) {
            <div class="streamer-card__categories">
                <div class="streamer-category">{{category.name}}</div>
            </div>
        }
        <div class="streamer-card__action-button">
            <div class="btn">Subscribe</div>
        </div>
    </div>
} @else {
    No data
}

