/* You can add global styles to this file, and also import other style files */

:root {
  --dark-clor: #1d1d1d;
  --light-color: #e7e7e7;
}

body {
  background: var(--dark-clor);
  color: var(--light-color);
}
